body {
    background-color: #438679;
}
img {
    width: 500px;
    border: 5px solid tomato;
    border-radius: 15px; 
	width: 200px; 
	position: absolute;
	right: 0;
	top: 0;
}
#responseField {
	background-color: #c4c4c4;
	width: 400px;
	height: 600px;
	overflow-y: scroll;
}
